.container{
  margin-top: 9vh;
  width: 55vw;
  height: auto;
  margin-left: 27rem;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  
}
#Background{
  background: linear-gradient(to bottom, #E2F6FC, #ffffff)
}
.ag-theme-alpine{
  width: auto;
  height: auto;
  border: 1px solid white;
}